html {
    height: 100%;
    width: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#ErrorLogin {
    height: 3vw;
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background-color: red;
    border-radius: 1.4vw;
    color: white;
}

#Login {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #c5a7d9;
    margin: 0 auto;
    padding: 0;
}

#Logo {
    height: 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#Logo img {
    height: 10vw;
    width: 15vw;
}

#FormularioLogin {
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#FormularioLogin form{
    height: 80%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

#FormularioLogin form input{
    height: 15%;
    width: 100%;
    border-radius: 8vw;
    border: 0;
    padding: 1vw;
    font-size: inherit;
}

.btn{
    color: blueviolet;   
    background-color: rgb(253, 207, 0);
    border: #f2e205;
    cursor: pointer;
}

#RedireccionRegistro {
    height: 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}