USE [master]
GO
/****** Object:  Database [AppDeMusica]    Script Date: 27/11/2019 09:43:16 ******/
CREATE DATABASE [AppDeMusica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppDeMusica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AppDeMusica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppDeMusica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AppDeMusica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppDeMusica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppDeMusica]
GO
USE [AppDeMusica]
GO
/****** Object:  User [alumno]    Script Date: 27/11/2019 09:43:16 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 27/11/2019 09:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[ID_Album] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[FechaPublicacion] [date] NULL,
	[Imagen] [varchar](50) NULL,
 CONSTRAINT [PK_Album] PRIMARY KEY CLUSTERED 
(
	[ID_Album] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artista]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artista](
	[ID_Artista] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[CantSeguidores] [int] NULL,
	[Imagen] [varchar](50) NULL,
 CONSTRAINT [PK_Artista] PRIMARY KEY CLUSTERED 
(
	[ID_Artista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtistaPorAlbum]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtistaPorAlbum](
	[ID_ArtistaPorAlbum] [int] IDENTITY(1,1) NOT NULL,
	[ID_Album] [int] NULL,
	[ID_Artista] [int] NULL,
 CONSTRAINT [PK_ArtistaPorAlbum] PRIMARY KEY CLUSTERED 
(
	[ID_ArtistaPorAlbum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtistaPorCancion]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtistaPorCancion](
	[ID_ArtistaPorCancion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Cancion] [int] NULL,
	[ID_Artista] [int] NULL,
 CONSTRAINT [PK_ArtistaPorCancion] PRIMARY KEY CLUSTERED 
(
	[ID_ArtistaPorCancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cancion]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cancion](
	[ID_Cancion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[FechaPublicacion] [date] NULL,
	[ID_Album] [int] NULL,
	[Imagen] [varchar](max) NULL,
 CONSTRAINT [PK_Cancion] PRIMARY KEY CLUSTERED 
(
	[ID_Cancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CancionPorPlaylist]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CancionPorPlaylist](
	[ID_CancionPorPlaylist] [int] IDENTITY(1,1) NOT NULL,
	[ID_Cancion] [int] NULL,
	[ID_Playlist] [int] NULL,
 CONSTRAINT [PK_CancionPorPlaylist] PRIMARY KEY CLUSTERED 
(
	[ID_CancionPorPlaylist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneroMusical]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneroMusical](
	[ID_GeneroMusical] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_GeneroMusical] PRIMARY KEY CLUSTERED 
(
	[ID_GeneroMusical] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneroPorCancion]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneroPorCancion](
	[ID_GeneroPorCancion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Cancion] [int] NULL,
	[ID_GeneroMusical] [int] NULL,
 CONSTRAINT [PK_GeneroPorCancion] PRIMARY KEY CLUSTERED 
(
	[ID_GeneroPorCancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[ID_Grupo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Imagen] [varchar](50) NULL,
 CONSTRAINT [PK_Grupo] PRIMARY KEY CLUSTERED 
(
	[ID_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntegrantesGrupo]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntegrantesGrupo](
	[ID_IntegrantesGrupo] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NULL,
	[ID_Grupo] [int] NULL,
 CONSTRAINT [PK_IntegrantesGrupo] PRIMARY KEY CLUSTERED 
(
	[ID_IntegrantesGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlist]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlist](
	[ID_Playlist] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Imagen] [varchar](max) NULL,
 CONSTRAINT [PK_Playlist] PRIMARY KEY CLUSTERED 
(
	[ID_Playlist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaylistDelGrupo]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistDelGrupo](
	[ID_PlaylistDelGrupo] [int] IDENTITY(1,1) NOT NULL,
	[ID_Playlist] [int] NULL,
	[ID_Grupo] [int] NULL,
 CONSTRAINT [PK_PlaylistDelGrupo] PRIMARY KEY CLUSTERED 
(
	[ID_PlaylistDelGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroLogin]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroLogin](
	[ID_Login] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NULL,
	[Fecha] [date] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[ID_Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Contraseña] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
	[Imagen] [varchar](50) NULL,
	[ID_Spotify] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioSpotify]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioSpotify](
	[ID_Spotify] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[TipoCuenta] [varchar](50) NULL,
 CONSTRAINT [PK_UsuarioSpotify] PRIMARY KEY CLUSTERED 
(
	[ID_Spotify] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GeneroMusical] ON 

INSERT [dbo].[GeneroMusical] ([ID_GeneroMusical], [Nombre]) VALUES (1, N'Rock')
INSERT [dbo].[GeneroMusical] ([ID_GeneroMusical], [Nombre]) VALUES (2, N'Hip Hop')
INSERT [dbo].[GeneroMusical] ([ID_GeneroMusical], [Nombre]) VALUES (3, N'Pop')
SET IDENTITY_INSERT [dbo].[GeneroMusical] OFF
SET IDENTITY_INSERT [dbo].[Grupo] ON 

INSERT [dbo].[Grupo] ([ID_Grupo], [Nombre], [Imagen]) VALUES (1, N'Grupo1', N'ImagenGrupo.png')
SET IDENTITY_INSERT [dbo].[Grupo] OFF
SET IDENTITY_INSERT [dbo].[IntegrantesGrupo] ON 

INSERT [dbo].[IntegrantesGrupo] ([ID_IntegrantesGrupo], [ID_Usuario], [ID_Grupo]) VALUES (1, 10, 1)
INSERT [dbo].[IntegrantesGrupo] ([ID_IntegrantesGrupo], [ID_Usuario], [ID_Grupo]) VALUES (2, 9, 1)
INSERT [dbo].[IntegrantesGrupo] ([ID_IntegrantesGrupo], [ID_Usuario], [ID_Grupo]) VALUES (3, 11, 1)
SET IDENTITY_INSERT [dbo].[IntegrantesGrupo] OFF
SET IDENTITY_INSERT [dbo].[RegistroLogin] ON 

INSERT [dbo].[RegistroLogin] ([ID_Login], [ID_Usuario], [Fecha]) VALUES (1, NULL, CAST(N'2019-10-23' AS Date))
INSERT [dbo].[RegistroLogin] ([ID_Login], [ID_Usuario], [Fecha]) VALUES (2, NULL, CAST(N'2019-10-24' AS Date))
INSERT [dbo].[RegistroLogin] ([ID_Login], [ID_Usuario], [Fecha]) VALUES (3, NULL, CAST(N'2019-10-24' AS Date))
GO
SET IDENTITY_INSERT [dbo].[RegistroLogin] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID_Usuario], [Nombre], [Apellido], [Username], [Contraseña], [Mail], [Imagen], [ID_Spotify]) VALUES (9, N'Ivan', N'Smelec', N'ivansito', N'®	J,
´4÷<™c·:ºà\„z[Ù', N'ivan@gmail.com', N'Act2img.png', NULL)
INSERT [dbo].[Usuario] ([ID_Usuario], [Nombre], [Apellido], [Username], [Contraseña], [Mail], [Imagen], [ID_Spotify]) VALUES (10, N'Tobias', N'Elkowich', N'tobi', N'ÂÄÜKö¾zpE›ÆÐj‡šw', N'tobi@mail.com', N'Jamaica 2011.png', NULL)
INSERT [dbo].[Usuario] ([ID_Usuario], [Nombre], [Apellido], [Username], [Contraseña], [Mail], [Imagen], [ID_Spotify]) VALUES (11, N'tobias', N'tobiass', N'tober', N'œÛ9E¿¦Ç«ö8‰sMîC$5', N'tober@mail.com', N'Jamaica 2011.png', NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[ArtistaPorAlbum]  WITH CHECK ADD  CONSTRAINT [FK_ArtistaPorAlbum_Album] FOREIGN KEY([ID_Album])
REFERENCES [dbo].[Album] ([ID_Album])
GO
ALTER TABLE [dbo].[ArtistaPorAlbum] CHECK CONSTRAINT [FK_ArtistaPorAlbum_Album]
GO
ALTER TABLE [dbo].[ArtistaPorAlbum]  WITH CHECK ADD  CONSTRAINT [FK_ArtistaPorAlbum_Artista] FOREIGN KEY([ID_Artista])
REFERENCES [dbo].[Artista] ([ID_Artista])
GO
ALTER TABLE [dbo].[ArtistaPorAlbum] CHECK CONSTRAINT [FK_ArtistaPorAlbum_Artista]
GO
ALTER TABLE [dbo].[ArtistaPorCancion]  WITH CHECK ADD  CONSTRAINT [FK_ArtistaPorCancion_Artista] FOREIGN KEY([ID_Artista])
REFERENCES [dbo].[Artista] ([ID_Artista])
GO
ALTER TABLE [dbo].[ArtistaPorCancion] CHECK CONSTRAINT [FK_ArtistaPorCancion_Artista]
GO
ALTER TABLE [dbo].[ArtistaPorCancion]  WITH CHECK ADD  CONSTRAINT [FK_ArtistaPorCancion_Cancion] FOREIGN KEY([ID_Cancion])
REFERENCES [dbo].[Cancion] ([ID_Cancion])
GO
ALTER TABLE [dbo].[ArtistaPorCancion] CHECK CONSTRAINT [FK_ArtistaPorCancion_Cancion]
GO
ALTER TABLE [dbo].[Cancion]  WITH CHECK ADD  CONSTRAINT [FK_Cancion_Album] FOREIGN KEY([ID_Album])
REFERENCES [dbo].[Album] ([ID_Album])
GO
ALTER TABLE [dbo].[Cancion] CHECK CONSTRAINT [FK_Cancion_Album]
GO
ALTER TABLE [dbo].[CancionPorPlaylist]  WITH CHECK ADD  CONSTRAINT [FK_CancionPorPlaylist_Cancion] FOREIGN KEY([ID_Cancion])
REFERENCES [dbo].[Cancion] ([ID_Cancion])
GO
ALTER TABLE [dbo].[CancionPorPlaylist] CHECK CONSTRAINT [FK_CancionPorPlaylist_Cancion]
GO
ALTER TABLE [dbo].[CancionPorPlaylist]  WITH CHECK ADD  CONSTRAINT [FK_CancionPorPlaylist_Playlist] FOREIGN KEY([ID_Playlist])
REFERENCES [dbo].[Playlist] ([ID_Playlist])
GO
ALTER TABLE [dbo].[CancionPorPlaylist] CHECK CONSTRAINT [FK_CancionPorPlaylist_Playlist]
GO
ALTER TABLE [dbo].[GeneroPorCancion]  WITH CHECK ADD  CONSTRAINT [FK_GeneroPorCancion_Cancion] FOREIGN KEY([ID_Cancion])
REFERENCES [dbo].[Cancion] ([ID_Cancion])
GO
ALTER TABLE [dbo].[GeneroPorCancion] CHECK CONSTRAINT [FK_GeneroPorCancion_Cancion]
GO
ALTER TABLE [dbo].[GeneroPorCancion]  WITH CHECK ADD  CONSTRAINT [FK_GeneroPorCancion_GeneroMusical] FOREIGN KEY([ID_GeneroMusical])
REFERENCES [dbo].[GeneroMusical] ([ID_GeneroMusical])
GO
ALTER TABLE [dbo].[GeneroPorCancion] CHECK CONSTRAINT [FK_GeneroPorCancion_GeneroMusical]
GO
ALTER TABLE [dbo].[IntegrantesGrupo]  WITH CHECK ADD  CONSTRAINT [FK_IntegrantesGrupo_Grupo] FOREIGN KEY([ID_Grupo])
REFERENCES [dbo].[Grupo] ([ID_Grupo])
GO
ALTER TABLE [dbo].[IntegrantesGrupo] CHECK CONSTRAINT [FK_IntegrantesGrupo_Grupo]
GO
ALTER TABLE [dbo].[IntegrantesGrupo]  WITH CHECK ADD  CONSTRAINT [FK_IntegrantesGrupo_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[IntegrantesGrupo] CHECK CONSTRAINT [FK_IntegrantesGrupo_Usuario]
GO
ALTER TABLE [dbo].[PlaylistDelGrupo]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistDelGrupo_Grupo] FOREIGN KEY([ID_Grupo])
REFERENCES [dbo].[Grupo] ([ID_Grupo])
GO
ALTER TABLE [dbo].[PlaylistDelGrupo] CHECK CONSTRAINT [FK_PlaylistDelGrupo_Grupo]
GO
ALTER TABLE [dbo].[PlaylistDelGrupo]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistDelGrupo_Playlist] FOREIGN KEY([ID_Playlist])
REFERENCES [dbo].[Playlist] ([ID_Playlist])
GO
ALTER TABLE [dbo].[PlaylistDelGrupo] CHECK CONSTRAINT [FK_PlaylistDelGrupo_Playlist]
GO
ALTER TABLE [dbo].[RegistroLogin]  WITH CHECK ADD  CONSTRAINT [FK_Login_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[RegistroLogin] CHECK CONSTRAINT [FK_Login_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_UsuarioSpotify] FOREIGN KEY([ID_Spotify])
REFERENCES [dbo].[UsuarioSpotify] ([ID_Spotify])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_UsuarioSpotify]
GO
/****** Object:  StoredProcedure [dbo].[sp_AñadirIntegranteDeGrupo]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AñadirIntegranteDeGrupo] @ID_Grupo int, @ID_Usuario int
AS
INSERT INTO IntegrantesGrupo (ID_Grupo,ID_Usuario) VALUES (@ID_Grupo,@ID_Usuario)
GO
/****** Object:  StoredProcedure [dbo].[sp_AñadirPlaylistDelGrupo]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AñadirPlaylistDelGrupo] @ID_Grupo int, @ID_Playlist int
AS
INSERT INTO PlaylistDelGrupo (ID_Grupo,ID_Playlist) VALUES (@ID_Grupo,@ID_Playlist)
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearGrupo]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearGrupo] @Nombre varchar(50), @Imagen varchar(50)
AS
DECLARE @GrupoLocal int
SET @GrupoLocal = (SELECT ID_Grupo FROM Grupo WHERE Nombre = @Nombre)
IF (@GrupoLocal IS NULL)
BEGIN
	INSERT INTO Grupo(Nombre,Imagen) VALUES (@Nombre,@Imagen)
	SELECT ID_Grupo FROM Grupo WHERE Nombre = @Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarPlaylistDelGrupo]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarPlaylistDelGrupo] @ID_Grupo int, @Nombre varchar(MAX)
AS
DECLARE @ID_Local int
SET @ID_Local = (SELECT Playlist.ID_Playlist FROM Playlist INNER JOIN PlaylistDelGrupo ON PlaylistDelGrupo.ID_Playlist = Playlist.ID_Playlist WHERE PlaylistDelGrupo.ID_Grupo = @ID_Grupo AND Playlist.Nombre = @Nombre)
DELETE FROM PlaylistDelGrupo WHERE ID_Grupo = @ID_Grupo AND ID_Playlist = @ID_Local
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Login] @Username varchar(50), @Contraseña varchar(50)
AS
DECLARE @ContraseñaLocal varchar(MAX)
SET @ContraseñaLocal = (HASHBYTES('SHA1',@Contraseña))
INSERT INTO RegistroLogin (Fecha,ID_Usuario) VALUES (GETDATE(),(SELECT ID_Usuario FROM Usuario WHERE Usuario.Username = @Username AND Usuario.Contraseña = @ContraseñaLocal))
SELECT ID_Usuario,Nombre,Apellido,Username,Contraseña,Mail,Imagen,ID_Spotify FROM Usuario WHERE Usuario.Username = @Username AND Usuario.Contraseña = @ContraseñaLocal
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarContraseña]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarContraseña] @ID_Usuario int, @ContraseñaVieja varchar(MAX), @ContraseñaNueva varchar(MAX)
AS
UPDATE Usuario SET Contraseña = HASHBYTES('SHA1',@ContraseñaNueva) WHERE ID_Usuario = @ID_Usuario AND Contraseña = HASHBYTES('SHA1',@ContraseñaVieja)
SELECT ID_Usuario FROM Usuario WHERE ID_Usuario = @ID_Usuario AND Contraseña = HASHBYTES('SHA1',@ContraseñaNueva)
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerMisGrupos]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerMisGrupos] @ID_Usuario int
AS
SELECT * FROM Grupo INNER JOIN IntegrantesGrupo ON IntegrantesGrupo.ID_Grupo = Grupo.ID_Grupo WHERE IntegrantesGrupo.ID_Usuario = @ID_Usuario
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPlaylistDelGrupo]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerPlaylistDelGrupo] @ID_Grupo int
AS
SELECT * FROM Playlist INNER JOIN PlaylistDelGrupo ON PlaylistDelGrupo.ID_Playlist = Playlist.ID_Playlist WHERE PlaylistDelGrupo.ID_Grupo = @ID_Grupo
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerTodosLosIntegrantes]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerTodosLosIntegrantes] @ID_Grupo int
AS
SELECT Usuario.ID_Usuario, Usuario.Username, Usuario.Imagen FROM Usuario INNER JOIN IntegrantesGrupo ON IntegrantesGrupo.ID_Usuario = Usuario.ID_Usuario WHERE IntegrantesGrupo.ID_Grupo = @ID_Grupo
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUnGrupo]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerUnGrupo] @ID_Grupo int
AS
SELECT * FROM Grupo WHERE ID_Grupo = @ID_Grupo
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUnUsuario]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerUnUsuario] @Username varchar(MAX)
AS
SELECT * FROM Usuario WHERE Username = @Username
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuario]    Script Date: 27/11/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarUsuario] @Nombre varchar(50), @Apellido varchar(50), @Username varchar(50), @Contraseña varchar(50), @Mail varchar(50), @Imagen varchar(50)
AS
INSERT INTO Usuario (Nombre,Apellido,Username,Contraseña,Mail,Imagen)
VALUES (@Nombre,@Apellido,@Username,(HASHBYTES('SHA1',@Contraseña)),@Mail,@Imagen)
GO
USE [master]
GO
