@using MVCSpoticord.Models;
@model Grupo
@{
    ViewBag.Title = "CrearGrupo";
}

<h2>CrearGrupo</h2>

@using (Html.BeginForm("CrearGrupoEnBD", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>Nombre: @Html.TextBoxFor(x => x.Nombre)</p>
    <input type="file" value="Submit" name="Imagen" />
    <input type="submit" value="Confirmar" />
}