@using MVCSpoticord.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Usuario Usuario in ViewBag.ListaDeUsuarios)
        {
            <tr>
                <th scope="row">@Usuario.ID</th>
                <td>@Usuario.Nombre</td>
                <td>@Usuario.Apellido</td>
                <td>@Usuario.Username</td>
            </tr>
        }
    </tbody>
</table>