@using MVCSpoticord.Models;
@model Usuario
@{
    ViewBag.Title = "Login";
}

@if (Session["Error"] != null)
{
    <div style="height: 3vw;width: 30vw;margin-top: 1vw;margin-bottom: 1vw;background-color: red;color: white;font-family: monospace;font-size: 1.2vw;border-radius:1.4vw;">
        <p style="height: 3vw; width: 30vw;display: flex;flex-wrap: wrap;align-content: center;justify-content: center;">
            <strong>Nombre de usuario o contraseña incorrectas</strong>
        </p>
    </div>
}

<h2>Sign In</h2>

@using (Html.BeginForm("LoginEnBD", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>Username: @Html.TextBoxFor(x => x.Username)</p>
    <p>Contraseña: @Html.TextBoxFor(x => x.Contraseña)</p>
    //<input type="file" value="Submit" name="Imagen" />
    <input type="submit" value="Iniciar Sesion" />
}
